.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 40%;
  border-radius: 5%;
  width: 30%;
  background-color: #f9f9f9; /* Light background color */
}

.chat-header {
  padding: 1.5rem;
  border-radius: 5%;
  background-color: #6a5acd; /* Dark purple */
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  border-top: 1px solid #eaeaea; /* Light grey border */
  display: flex;
  flex-direction: column;
}

.chat-bubble {
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 75%;
  clear: both; /* Important for correct float clearing */
}

.user-a {
  background-color: #6a5acd; /* Different background for User A */
  color: white;
  align-self: flex-end; /* Align User A’s messages to the right */
  float: right; /* For inline alignment within the container */
}

.user-b {
  background-color: #e4e4e4; /* A light grey for User B */
  color: black;
  align-self: flex-start; /* Align User B’s messages to the left */
  float: left; /* For inline alignment within the container */
}

.sender-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.user-a .sender-name {
  text-align: right;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.8em;
}

.chat-inputs {
  padding: 16px;
  border-top: 1px solid #eaeaea;
}

.input-group {
  display: flex;
  justify-content: space-between; /* Space between input and button */
}

.chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px; /* More rounded input */
  margin-right: 10px; /* Space between input and button */
  outline: none; /* Remove default focus outline */
}

.send-btn-a {
  background-color: #6a5acd; /* Match with header */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 25px; /* More rounded button */
  cursor: pointer;
  font-weight: bold;
}

/* Ensure the scroll to bottom works correctly with flexbox */
.chat-messages > div {
  margin-bottom: 8px; /* Add some spacing between messages */
}

.chat-messages > div:last-child {
  margin-bottom: 0; /* Remove extra spacing for the last message */
}
